.container {
  margin-left: auto;
  margin-right: auto;
}

.anchor {
  fill: #ff8888;
  z-index: 100;
  r: 6px;
}

.control {
  fill: #88ff88;
  r: 6px;
}

.anchor:hover, .control:hover {
  r: 8px;
}
.anchor.draft, .control.draft {
  opacity: 0.4;
}

.curve-dot {
  z-index: 1;
  r: 1px;
}
.curve-line {
  z-index: 2;
  stroke-width: 3;
  stroke: white;
  pointer-events: none;
  fill: transparent;
}
.curve-line.draft {
  opacity: 0.4
}
.handle-line {
  stroke: #dddddd;
  stroke-width: 1.5;
  z-index: 1;
}
