body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  touch-action: manipulation;
  -webkit-user-select: none;
  overscroll-behavior-x: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container {
  width: 100%;
  max-width: 100vw;
}

.node {
  r: 8px;
}
.node:hover {
  r: 12px;
}
@media screen and (max-width: 500px) {
  .node {
    r: 12px;
  }
  .node:hover {
    r: 16px;
  }
}

.anchor {
  fill: #ff8888;
  z-index: 100;
}

.control {
  fill: #88ff88;
}

.curve-line {
  z-index: 2;
  stroke-width: 3;
  stroke: white;
  pointer-events: none;
  fill: transparent;
}
.handle-line {
  stroke: #a0a0a0;
  stroke-width: 1.5;
  z-index: 1;
}

.draft {
  opacity: 0.4;
}

.lock-button {
  margin-top: 16px;
  border: 0;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  display: inline-flex;
  align-items: center;
}
.lock-button.opened {
  background-color: green;
}
.lock-button.closed {
  background-color: red;
}

.lock-button > svg {
  height: 24px;
  width: 24px;
}
.lock-button > span {
  font-size: 16px;
  margin-left: .5rem
}
