/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  touch-action: manipulation;
  -webkit-user-select: none;
  overscroll-behavior-x: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  @apply w-screen overflow-hidden flex flex-col items-center;
}

.node {
  r: 8px;
}
.node:hover {
  r: 12px;
}
@media screen and (max-width: 500px) {
  .node {
    r: 12px;
  }
  .node:hover {
    r: 16px;
  }
}

.anchor {
  fill: #ff8888;
  z-index: 100;
}

.control {
  fill: #88ff88;
}

.curve-line {
  z-index: 2;
  @apply stroke-white pointer-events-none fill-transparent stroke-[3];
}
.handle-line {
  stroke: #a0a0a0;
  z-index: 1;
  @apply stroke-[1.5];
}
.lock-button {
  @apply inline-flex space-x-2 items-center mt-4 px-3 py-2 rounded-lg text-white;
}
.lock-button.open {
  @apply bg-green-600;
}
.lock-button.locked {
  @apply bg-red-500;
}

.draft {
  @apply opacity-40;
}
